.product {
    display: flex;
    justify-content: center;
    .product-form {
        width: 75%;
        .product-btn{
            width: 100%;
            text-align: center;
            .btn {
                width: 50%;
            }
        }
        img{
            width: 200px;
        }
    }

}