@use 'variables';
@use 'products';
@use 'notification';
h1 {
    color: variables.$red-color; 
    font-size: 32px;
} 
.dropdown {
  position: relative;
  &::after{
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
  }
}

/* Style the dropdown button */
.dropbtn {
//   background-color: #4CAF50;
  position: relative;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  p {
    padding: 12px 16px 0 16px;
    font-size: 12px;
  }
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.cart {
    display: flex !important;
    justify-content: space-between;
    span {
      display: block;
      width: 30px;
      height: 20px;
      background-color: red;
      color: white;
      border-radius: 100px;
      font-size: .8125rem;
      text-align: center;
    }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }

.order_btn {
  display: flex;
  width: 100%;
  justify-content: end;
  a{
    background-color: #ff523b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
  }
}

.product-admin {
  display: grid;
  grid-template-areas:
    "item"
    "item";
  .product-admin-items {
    display: grid;
    grid-template-areas:
    "img name rating price function";
    height: 50px;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    gap: 3px;
    padding: 5px;
    img {
      width: 50px;
      height: 100%;
    }
    .function{
      display: flex;
      justify-content: center;
      column-gap: 15px;
      .delete{
        button{
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
.order-admin {
  .product-admin-items{
      grid-template-areas: "id price status type function detail";
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0%;
    width: 100px;
    height: 40px;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .show {display: block;}
}
.order-detail {
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  .order-detail-item {
    display: grid;
    grid-template-areas: "item item item item";
    grid-template-columns: 1fr 2fr 2fr 2fr;
    p {
      border: 1px solid #000;
    }
  }

}
