    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="/img/logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/product">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    {{#if_eq user null}}
                    <li><a href="/account">Account</a></li>
                    {{/if_eq}}
                </ul>
            </nav>
             {{#if user}}
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="/img/avatars/{{user.avatar}}" alt="">
                    </button>
                    <div class="dropdown-content">
                        <p>
                            Welcome, {{user.email}}
                        </p>
                        <a href="/account/info">Info</a>
                        <a href="/order/cart" class="cart">Cart <span>{{user.cart}}</span></a>
                        {{#if_eq user.role 'admin'}}
                        <a href="/product/create">Create Product</a>
                        <a href="/product/all">All Products</a>
                        <a href="/order/create">Create Order</a>
                        <a href="/order/all">All Orders</a>
                        {{/if_eq}}
                        <a href="/order">Order</a>
                        <a href="/account/logout">Logout</a>
                    </div>
                </div>
            {{/if}}
            <img src="/img/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>