<div class="small-container">



    <div class="row">
        <form method="POST" action="/product/insert" enctype="multipart/form-data">
            <label for="name">Product Name</label>
            <input type="text" name="_name" placeholder="">
            <label for="name">Description</label>
            <input type="text" name="_desc" placeholder="">
            <label for="name">Category</label>
            <input type="text" name="_category" placeholder="">
            <label for="name">Brand</label>
            <input type="text" name="_brand" placeholder="">
            <label for="name">Price</label>
            <input type="number" name="_price" placeholder="">
            <label for="name">Image</label>
            <input type="file" name="_img">
            <button type="submit" class="btn">Create</button>
        </form>
    </div>

</div>