<div class="small-container product">
    <div class="row product-form">
        <form method="POST" action="/product/insert" enctype="multipart/form-data">
            <label for="name">Product Name</label>
            <input type="text" name="_name" placeholder="">
            <label for="name">Description</label>
            <input type="text" name="_desc" placeholder="">
            <label for="name">Category</label>
            <input type="text" name="_category" placeholder="">
            <label for="name">Brand</label>
            <input type="text" name="_brand" placeholder="">
            <label for="name">Price</label>
            <input type="number" name="_price" placeholder="">
            <label for="name">Image</label>
            <input type="file" name="_img">
            <div class="product-btn">
                <button type="submit" class="btn">Create</button>
            </div>
        </form>
    </div>

</div>